{{ $papers := index .Site.Data ( .Get 0 ) }}
<ul class="papers-list">
  {{- range $papers -}}
  <li>
    <span class="title">{{ replaceRE "{|}" "" .title }}</span>,
    {{- if .joint_work }}
    <span class="joint_work">joint work with&nbsp;
      {{- range .joint_work -}}
      <span class="author">{{ . }}</span>,
      {{- end -}}
    </span>
    {{ end -}}
    {{- if .published }}
    <span class="journal">{{ .journal }}</span>,
    <span class="year">({{ .year }})</span>,
    {{ end -}}
    {{- if .eprint }}
    <a href="https://arxiv.org/abs/{{ .eprint }}" class="arxiv">{{ .archivePrefix }}:{{ .eprint }} [{{ .primaryClass }}]</a>
    {{ end -}}
    {{- with .note }}
    , <span class="note">{{ . }}</span>
    {{ end -}}
  {{- end -}}
</ul>
